@import "bower";

#map-canvas {
  width: 100%;
  height: calc(100vh - 195px);
  margin: 0 auto;
}

ul {
  list-style: none;
  display: inline-block

  li {
    list-style: none;
    display: inline-block
  }
}

ul {
  margin: 0;
  padding: 0;
}

.gmnoprint {
  display: none;
}

.navbar {
  margin: 0px 10px;

  li {
    a {
      margin: 0px 10px;
    }
  }
}

#navlogo {
  height:15px;
  width:15px;
  text-align: center;
  display: inline;
  margin: 0 auto;

}

nav {
  padding-top: 20px;
  color:#de1d1d;
  display:inline-block;
  width: 100%;
  margin: 0 auto;
}

#homeimg{
  width: 100%;
  box-shadow: 0 0 8px 8px white inset;
  margin-top: 16px;
}

h1, {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
  color:#de1d1d;
  width: 100%;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color:#de1d1d;
}

h3, {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 16px;
  letter-spacing: 5px;
  padding-top: 10px;
}

#loggedIn{
  text-align: center;
}

#loggedIn{
  text-align: center;
}

.loginform{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
}

.signupform{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
}

.signupspace{
  border-bottom-color: #b39552;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  font-family: 'Gudea', sans-serif;
  color: #b39552;
  outline: none;
  text-align: center;
}

.submitbutton{
  border: solid, #b39552 lighten;
  background: white;
  color: #b39552;
  font-weight:bolder;
  height: 50px;
  width: 100px;
}

.signupspace:hover, .submitbutton:hover{
  border-color:darken( #b39552, 15% );
  outline: none;
  color: darken( #b39552, 15% ),
}

label{
  padding-top:15px;
  color: #b39552;
}

#infostars{
  color: #b39552;
  font-weight: bold;
}

.starslabel{
  color:#de1d1d;
}

#starstitle{
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 10px;
  font-weight: bolder;
  color:#de1d1d;
}

#starsform{
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 10px;
  font-size: 14px;
  padding-top: 10px;
}

#infocuisine{
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
}

#register, #login, #logout, #location{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: bold;
  color:#b39552;
  text-decoration: none;
  float: left;
}

a#register:hover, a#login:hover, a#logout:hover, #location:hover {
  color:#941313;
  text-decoration: none;
}

#location:hover {
  color: #7b990f;
}

input#one-star{
  color:#941313;
}


.starslabel > input {
  display: none;
}

label > input + img{ /* IMAGE STYLES */
  width: 50px;
  cursor:pointer;
  border:2px solid transparent;
  padding-bottom: 10px;
}

label > input:checked + img{ /* (CHECKED) IMAGE STYLES */

}
